<div class="d-flex">
  <h2 class="flex-fill">
    Start Reading
  </h2>
  <span class="flex"></span>
  <IconButton @onClick={{@onClose}}>
    <AppIcon @icon="clear" @alt="clear" />
  </IconButton>
</div>

<div class="list-group">
  {{#each this.sortedBooks as |book|}}
    <BookList::item
      @book={{book}}
      @onChoose={{@onChoose}}
    />
  {{/each}}
</div>
