<h2>Currently Reading</h2>

<ul class="list-group">
  {{#each @readings as |reading|}}
    <Reading::Multiple::Row
      @reading={{reading}}
      @onComplete={{@onComplete}}
    />
  {{/each}}
</ul>
