<div class="card">
  <div class="card-body text-center">
    <p data-test-no-readings>You aren't reading a book right now.</p>
    <h2>Let's get started!</h2>
    <button
      type="button"
      class="btn btn-primary"
      {{on "click" this.goToNewReadings}}
      data-test-start-a-book-button
    >
      Start a Book
    </button>
  </div>
</div>
