<PaperToolbar>
  <PaperToolbarTools>
    <h2>Start Reading</h2>
    <span class="flex"></span>
    <PaperButton
      @iconButton={{true}}
      @onClick={{@onClose}}
    >
      {{paper-icon 'clear'}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
