<button
  {{on "click" this.startReading}}
  type="button"
  class="list-group-item list-group-item-action"
  data-test-book={{@book.id}}
>
  <div>{{@book.name}}</div>
  {{#if @book.lastReadAt}}
    <div class="small muted">
      Last read {{time-ago @book.lastReadAt}}
    </div>
  {{/if}}
</button>
