<PaperItem
  @class="md-2-line"
  @onClick={{fn this.startReading}}
  data-test-book={{@book.id}}
>
  <div class="md-list-item-text">
    <h3>{{@book.name}}</h3>
    {{#if @book.lastReadAt}}
      <p>
        Last read {{time-ago @book.lastReadAt}}
      </p>
    {{/if}}
  </div>
  <PaperDivider />
</PaperItem>
