<AppToolbar />

<div class="container mb-3">
  <div class="row">
    <div class="d-none d-xl-block col-xl-1"></div>
    <div class="col-12 col-xl-10">
      {{#if this.session.isAuthenticated}}
        {{outlet}}
      {{else}}
        <LoginForm />
      {{/if}}
    </div>
    <div class="d-none d-xl-block col-xl-1"></div>
  </div>
</div>
