{{#each this.model as |reading|}}
  <ReadingControl
    @table={{this.hasMultipleReadings}}
    @reading={{reading}}
    @onComplete={{action send 'refresh'}}
  />
{{else}}
  <p>No current readings</p>
{{/each}}

<LinkTo @route="readings.new">Start a Reading</LinkTo>
